body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #000000;
  color: #d95f93;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #d95f93;
  color: #eeeff3;
  border-radius: 12px;
  border: 2px solid #d95f93;
  box-shadow: 1px 1px 2px #e52a78;
  transition: 0.3s;
  display: inline-block;
}

#noButton {
  position: relative;
}

.answerButton:hover {
  background-color: #e52a78;
  color: #ffe3e1;
  border: 2px solid #ff94c1;
  box-shadow: 1px 1px 2px #f9bed7;;
}
